html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body,
html {
    height: 100%;

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

address {
    font-style: normal;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    background-color: #001821;
}

.wrapper--main {
    background: url(../img/background-1.jpg) top center no-repeat, url(../img/background-2.jpg) bottom center no-repeat, #001821;
}

.footer {
    background: #001821;

}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1141px;
    overflow: hidden;
}

.logo,
.menu,
.menu__item,
.contacts,
.social,
.social * {
    display: inline-block;
}