html {
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body,
html {
	height: 100%;
    
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

address {
    font-style: normal;
}

section {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;

}

.wrapper__content--main {
    background: url(../img/background.jpg) top center no-repeat;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1141px;
    overflow: hidden;
}

.logo, .menu, .menu__item, .contacts {
    display: inline-block;
}

.button {
    display: inline-block;
    color:#fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 22px 44px;
    background: #f5170e;
    border-radius: 35px;
}

.button:hover {
    background:#da0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}
