.footer {
    min-height: 146px;
    color: #fff;
}

.line {
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-bottom: 45px;
}

.social {
    margin-left: 276px;
    float: left;
    margin-top: 3px;
}

.social__item {
    margin-right: 6px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__item a img:hover {
    filter: brightness(3);
}

.contacts__descr {
    font-size: 11px;
    line-height: 20px;
    color: #9a9a9a;
}