@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url(layout/normalize.css);
@import url(layout/base.css);
@import url(blocks/logo.css);
@import url(blocks/button.css);
@import url(blocks/central.css);