@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url(base.css);
@import url(header.css);
@import url(sections.css);
@import url(footer.css);
