.first-screen {
    padding: 122px 0px;
    color: #fff;
}

.first-screen__container {
    width: 520px;
    float: left;
}

.first-screen__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
}

.first-screen__lead {
    margin: 30px 0px;
    font-size: 18px;
    line-height: 20px;
}


.button {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 22px 44px;
    background: #f5170e;
    border-radius: 35px;
}

.button:hover {
    background: #da0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.title {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.title--fire::after {
    content: "";
    display: inline-block;
    margin-left: 12px;
    width: 21px;
    height: 28px;
    background: url(../img/flame.png) no-repeat;
}

.tours__list {
    margin-top: 62px;
}

.tours__item {
    float: left;
    max-width: 362px;
    margin-right: 27px;
}

.tours__item:last-child {
    float: right;
    margin-right: 0px;
}

.tours__img {
    border-radius: 5px 5px 0px 0px;
}

.tours__content {
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 33px 22px 24px 22px;
}

.tours__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.tours__benefits {
    margin: 22px 0px;
}

.benefit {
    display: inline-block;
    vertical-align: top;
    padding-left: 45px;
    min-height: 26px;
    font-size: 16px;
    line-height: 26px;
    color: #666;
}

.benefit:first-child {
    background: url(../img/calendar.png) top left no-repeat;
}

.benefit:last-child {
    background: url(../img/meal.png) top left no-repeat;
    margin-left: 28px;
}

.tours__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #303030;
    margin-bottom: 24px;
}

.button--light {
    background-color: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    box-sizing: border-box;
}

.button--light:hover {
    background-color: #F5170E;
    color: #fff;
    box-shadow: none;
}

.news {
    color: #fff;
}

.news__list {
    margin: 51px 0px;
    text-align: justify;
    line-height: 0;

}

.news__list::after {
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
}

.news__item {
    display: inline-block;
    width: 557px;
    text-align: left;
    position: relative;
    min-height: 394px;
}

.news__item img,
.news__block {
    position: absolute;
    top: 0;
    left: 0;
}

.news__item img {
    border-radius: 5px;
}

.news__block {
    padding-top: 250px;
    padding-left: 30px;
    width: 100%;
    height: 100%;
}

.news__date {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
}

.news__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.news__descr {
    font-size: 16px;
    line-height: 21px;
    margin-top: 4px;
}

.news-paginator {
    margin-top: 48px;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

.news-paginator * {
    display: inline-block;
}

.news-paginator__display {
    margin-right: 25px;
}

.news-paginator__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    margin-right: 15px;
}

.news-paginator__item:last-child {
    margin-right: 0px;
}

.paginator-active {
    color: #F5170E;
    background: #fff;
    border-radius: 16px;
    border-radius: 16px;
    width: 32px;
    height: 32px;
}

.title--dark {
    color: #000;
}

.about>.container {
    position: relative;
    min-height: 600px;
}

.about__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 490px;
    height: 505px;
    border-radius: 5px;
    background: url(../img/gates.jpg) center center no-repeat;
    border-radius: 5px;
}

.about__content {
    position: absolute;
    top: 97px;
    left: 354px;
    width: 785px;
    height: 455px;
    background: url(../img/mountains.jpg) center center no-repeat;
    padding: 70px 203px 0px 80px;
    border-radius: 5px;
}

.about__descr {
    margin-top: 37px;
    margin-bottom: 43px;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
}