.first-screen {
    color: #fff;
}

.first-screen__container {
    width: 520px;
    float: left;
    margin-top: 126px;
}

.first-screen__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.35em;
}

.first-screen__lead {
    margin-top: 28px;
    font-size: 18px;
    line-height: 1.1em;
}

.first-screen__lead + a.button {
    margin-top: 33px;
}


.button {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 19px 41px;
    background: #f5170e;
    border-radius: 35px;
}

.button:hover {
    background: #da0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.tours .title--fire {
    margin-top: 249px;
}

.title {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15em;
    color: #fff;
}

.title--fire::after {
    content: "";
    display: inline-block;
    margin-left: 12px;
    width: 21px;
    height: 28px;
    background: url(../img/flame.png) no-repeat;
}

.tours__list {
    margin-top: 54px;
    overflow: hidden;
}

.tours__item {
    float: left;
    max-width: 362px;
    margin-right: 27px;
}

.tours__item:last-child {
    float: right;
    margin-right: 0px;
}

.tours__img {
    border-radius: 5px 5px 0px 0px;
    max-height: 144px;
    object-fit: cover;
}

.tours__content {
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 33px 22px 24px 22px;
}

.tours__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3em;
}

.tours__benefits {
    margin-top: 24px;
}

.tours__benefits+.tours__text {
    margin-top: 23px;
}

.benefit {
    display: inline-block;
    vertical-align: top;
    padding-left: 45px;
    min-height: 26px;
    font-size: 16px;
    line-height: 1.6em;
    color: #666;
}

.benefit:first-child {
    background: url(../img/calendar.png) top left 6px no-repeat;
}

.benefit:last-child {
    background: url(../img/meal.png) top left no-repeat;
    margin-left: 26px;
}

.tours__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030;
}

.tours__text+.button {
    margin-top: 25px;
}

.button--light {
    background-color: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    box-sizing: border-box;
    padding: 17px 30px;
}

.button--light:hover {
    background-color: #F5170E;
    color: #fff;
    box-shadow: none;
}

.news {
    color: #fff;
}

.news .title {
    margin-top: 133px;
}

.news__list {
    margin-top: 54px;
    text-align: justify;
    line-height: 0;

}

.news__list::after {
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
}

.news__item {
    display: inline-block;
    width: 557px;
    text-align: left;
    position: relative;
    min-height: 394px;
}

.news__item img,
.news__block {
    position: absolute;
    top: 0;
    left: 0;
}

.news__item img {
    border-radius: 5px;
}

.news__block {
    padding-top: 252px;
    padding-left: 29px;
    width: 100%;
    height: 100%;
}

.news__date {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 12px;
}

.news__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 14px;
}

.news__descr {
    font-size: 16px;
    line-height: 1.3em;
    margin-top: 4px;
}

.news-paginator {
    margin-top: 45px;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.25em;
}

.news-paginator * {
    display: inline-block;
}

.news-paginator__display {
    margin-right: 25px;
}

.news-paginator__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    border-radius: 16px;
    width: 32px;
    height: 32px;
}

.news-paginator__item a:hover {
    color: #F5170E;
}

.paginator-active {
    color: #F5170E;
    background: #fff;
}

.title--dark {
    color: #000;
}

.about>.container {
    position: relative;
    min-height: 755px;
}

.about__img {
    position: absolute;
    top: 147px;
    left: 0;
    width: 490px;
    height: 505px;
    border-radius: 5px;
    background: url(../img/gates.jpg) center center / cover no-repeat;
    border-radius: 5px;
}

.about__content {
    position: absolute;
    top: 244px;
    left: 354px;
    width: 785px;
    height: 455px;
    background: url(../img/mountains.jpg) center center / cover no-repeat;
    padding: 74px 203px 0px 80px;
    border-radius: 5px;
}

.about__descr {
    margin-top: 42px;
    font-size: 16px;
    line-height: 1.7em;
    color: #060606;
}

.about__descr + .button {
    margin-top: 41px;
}