.first-screen {
    padding: 122px 0px;
    color: #fff;
}

.first-screen__container {
    width: 520px;
    float: left;
}

.first-screen__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
}

.first-screen__lead {
    margin: 30px 0px;
    font-size: 18px;
    line-height: 20px;
}
