html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

body,
html {
    height: 100%;

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

address {
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    overflow: hidden;
    min-width: 1141px;
}

.wrapper__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url(../../img/headline.jpg) top center no-repeat #fff;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.main__content {
    background: #fff;
    flex: 1;
}