.container--about {
    position: relative;
    min-height: 755px;
}

.about__img {
    position: absolute;
    top: 147px;
    left: 0;
    width: 490px;
    height: 505px;
    border-radius: 5px;
    background: url(../../img/gates.jpg) center center / cover no-repeat;
    border-radius: 5px;
}

.about__content {
    position: absolute;
    top: 244px;
    left: 354px;
    width: 785px;
    height: 455px;
    background: url(../../img/mountains.jpg) center center / cover no-repeat;
    padding: 74px 203px 0px 80px;
    border-radius: 5px;
}

.about__descr {
    margin-top: 42px;
    font-size: 16px;
    line-height: 1.7em;
    color: #060606;
    margin-bottom: 41px;
}