.container--about {
    min-height: 706px;
    display: flex;
    padding-top: 155px;
}

.about__img {
    width: 490px;
    height: 505px;
    background: url(../../img/gates.jpg) center center / cover no-repeat;
    border-radius: 5px;
}

.about__content {
    max-width: 785px;
    min-height: 455px;
    margin-top: 97px;
    margin-left: -137px;
    background: url(../../img/mountains.jpg) center center / cover no-repeat;
    padding: 74px 150px 65px 80px;
    border-radius: 5px;
}

.about__descr {
    margin-top: 42px;
    font-size: 16px;
    line-height: 1.7em;
    color: #060606;
    margin-bottom: 68px;
}