.button {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 19px 41px;
    background: #f5170e;
    border-radius: 35px;
    transition: 0.5s;
}

.button:hover {
    background: #da0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    transition: 0.5s;
}

.button--light {
    background-color: #fff;
    color: #F5170E;
    border: 1px solid #F5170E;
    box-sizing: border-box;
    padding: 17px 39px;
    align-self: flex-start;
}

.button--light:hover {
    background-color: #F5170E;
    color: #fff;
    box-shadow: none;
    transition: 0.5s;
}

.button--grey {
    background-color: #8E8E8E;
}

.button--grey:hover {
    background-color: #2B2B2B;
    transition: 0.5s;
}