.wrapper--main {
    background: url(../../img/background-1.jpg) top center no-repeat, url(../../img/background-2.jpg) bottom center no-repeat, #001821;
}

.first-screen {
    color: #fff;
}

.first-screen__container {
    width: 45%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first-screen__lead {
    margin-top: 28px;
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 1.1em;
}