.footer {
    color: #fff;
    background: #001821;
}

.container--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__line {
    border-top: 2px solid rgba(255,255,255,0.1);
}

.social {
    margin-right: 74px;
}

.social__list {
    display:flex;
    justify-content: flex-end;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__img {
    width: 36px;
    height: 36px;
    transition: 0.5s;
}

.social__img:hover {
    filter: brightness(3);
    transition: 0.5s;
}

.social__img--tg {
    background: url(../../img/icons.png) -66px -10px;
}

.social__img--vk {
    background: url(../../img/icons.png) -66px -66px;
}

.social__img--in {
    background: url(../../img/icons.png) -66px -10px;
}

.social__img--fb {
    background: url(../../img/icons.png) -10px -10px;
}