.footer {
    color: #fff;
    background: #001821;
}

.container--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__line {
    border-top: 2px solid rgba(255,255,255,0.1);
}

.social {
    margin-right: 74px;
}

.social__list {
    display:flex;
    justify-content: flex-end;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__item a img:hover {
    filter: brightness(3);
}