.footer {
    color: #fff;
    background: #001821;
}

.container--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgba(255,255,255,0.1);
    padding-top: 45px;
    padding-bottom: 10px;
}

.social {
    margin-left: auto;
}

.social__list {
    display:flex;
    justify-content: flex-end;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0px;
}

.social__item a img:hover {
    filter: brightness(3);
}