.headline {
  color: #fff;
  padding-bottom: 23px;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
  color: #9a9a9a;
}

.breadcrumbs__item::after {
  content: "/";
}

.breadcrumbs__item:last-child::after {
  content: "";
}

.breadcrumbs__link {
  padding: 0 4px;
  text-decoration-line: underline;
}

.breadcrumbs__link:hover {
  text-decoration-line: none;
}

.breadcrumbs__link--active {
  font-weight: 700;
}