.menu__list {
    font-size: 14px;
    line-height: 16px;
    display: flex;
}

.menu__item {
    padding-left: 51px;
}

.menu__item:first-child {
    padding-left: 0px;
}

.menu__link:hover {
    cursor: pointer;
    color:#da0100;
}