.menu__list {
    font-size: 14px;
    line-height: 16px;
    display: flex;
}

.menu__item {
    margin-left: 54px;
}

.menu__item:first-child {
    margin-left: 0px;
}

.menu__link {
    transition: 0.5s;
}

.menu__link:hover {
    cursor: pointer;
    color:#da0100;
    transition: 0.5s;
}