.menu {
    margin-right: auto;
}

.menu__list {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
}

.menu__item {
    padding-left: 51px;
}

.menu__link:hover {
    cursor: pointer;
    color:#da0100;
}