.partners {
  background: #f4f5f5;
  padding: 93px 0px 90px 0px;
}

.partners__list {
  margin-top: 83px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__item {
  height: 70px;
  align-self: center;
}

.partners__item:nth-child(-n+4) {
  margin-bottom:76px;
}

.partners__item--break {
  flex-basis: 100%;
  height: 0;
}