.partners {
  background: #f4f5f5;
  padding: 93px 0px 98px 0px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__item {
  width: 22%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.partners__item:nth-child(4n+4) {
  justify-content: flex-end;
}

.partners__link {
  display: block;
  filter: grayscale(100%);
  transition: 0.5s;
}

.partners__link:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.partners__item:nth-child(-n+4) {
  margin-bottom:48px;
}

