.partners {
  background: #f4f5f5;
  padding: 93px 0px 98px 0px;
}

.partners__list {
  margin-top: 83px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__item {
  height: 80px;
  display: flex;
  align-items: center;
}

.partners__link {
  display: block;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0%);
}

.partners__item:nth-child(-n+4) {
  margin-bottom:48px;
}

.partners__item--break {
  flex-basis: 100%;
  height: 0;
}

