.separator {
    background: url(../../img/separator.jpg) center bottom / cover no-repeat;
}

.separator__content {
    background: url(../../img/couple.png) right bottom -10px no-repeat;
    display: flex;
    align-items: center;
    min-height: 360px;
}

.separator__title {
    font-size: 48px;
    line-height: 56px;  
    font-weight: bold;
    width: 60%;  
    color: #fff;
}