
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15em;
    color: #fff;
}

.title--first-screen {
    font-size: 72px;
    line-height: 1.35em;
}

.title--fire {
    display: flex;
}

.title--fire::after {
    content: "";
    margin-left: 12px;
    width: 21px;
    background: url(../../img/flame.png) center center no-repeat;
}

.title--dark {
    color: #000;
}

.title--headline {
    font-size: 72px;
    margin-top: 100px;
    margin-bottom: 113px;
}

.title--partners {
    font-size: 48px;
    color: #1a1b1e;
}