.top-line {
  min-height: 406px;
  background: url(../../img/headline.jpg) top center / cover no-repeat #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.top-line__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.breadcrumbs__list {
  display: flex;
  font-size: 14px;
  color: #9a9a9a;
}

.breadcrumbs__item::after {
  content: "/";
}

.breadcrumbs__item:last-child::after {
  content: "";
}

.breadcrumbs__link {
  padding: 0 4px;
  text-decoration-line: underline;
}

.breadcrumbs__link:hover {
  text-decoration-line: none;
}

.breadcrumbs__link--active {
  font-weight: 700;
}