.container--tours {
    padding-top: 176px;
}

.tours__list {
    display: flex;
    justify-content: space-between;
}

.tours__item {
    width: 31.7%;
}

.tour__item {
    display: flex;
    flex-direction: column;
}

.tour__img {
    border-radius: 5px 5px 0px 0px;
    max-height: 144px;
    object-fit: cover;
}

.tour__content {
    flex: 1;
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 33px 22px 24px 22px;
    display: flex;
    flex-direction: column;

}

.tour__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3em;
}

.tour__benefit {
    display: flex;
    margin-top: 24px;
}

.benefit {
    padding-left: 45px;
    font-size: 16px;
    line-height: 1.6em;
    color: #666;
}

.benefit:first-child {
    background: url(../../img/calendar.png) top left 6px no-repeat;
    margin-right: 20px;
}

.benefit:last-child {
    background: url(../../img/meal.png) top left no-repeat;
}

.tour__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030;
    margin-top: 23px;
    margin-bottom: 25px;
}

.tour__btn {
    margin-top: auto;
}